<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <title>Linktree Clone</title>
</head>
<body class="bg-red-200 font-mono">
<br>
<br>
<br>
<h1 class="text-5xl text-red-700">Welcome to the Linktree Clone</h1>
<p class="text-3xl text-red-700">The goals for this site:</p>
<p class="text-2xl text-red-700">1:  Have a convenient place for you to add your Projects</p>
<p class="text-2xl text-red-700">2:  Have a location to add all of your socials</p>
<p class="text-2xl text-red-700">3:  Be able to easily track how often people are viewing each project from your site.</p>
<p class="text-2xl text-red-700">4:  Include simple / stylish Tailwind templates for you to easily include styling.</p>
<br>
<br>
<a href="{% url 'index' %}" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium
   rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Login or Sign Up</a>
</body>
</html>